* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #062742;
  background-size: cover;
}
.header {
  position: fixed;
  z-index: 1000;
  background-color: rgba(28, 96, 151, 0.281);
  height: 45px;
  width: 100%;
}
.header .sidebar-menu {
  height: 25.65px;
  width: 100%;
  background-color: #1d1f24;
  display: flex;
}
.header .sidebar-menu .sidebar-button {
  font-size: 105%;
  margin: 2px auto;
  height: 29.65px;
  padding: 3px 4px;
  color: #1d0649;
  text-shadow: 0 0 2px #221c1c;
  border-radius: 20%;
  background: radial-gradient(50% 50%, #c9b6b6 0.1%, #223ac5);
  z-index: 10000;
  border-style: ridge;
  box-decoration-break: slice;
}
.header .sidebar-menu .sidebar-button:hover {
  box-shadow: inset 0 0 10px 1px #00fff2;
}
.header .file-path {
  height: 43%;
  color: #e0dcdc;
}
.header .file-path .path-link {
  color: #bdb5b5;
  text-decoration: none;
}
.main-menu {
  display: none;
  background-color: rgba(0, 0, 0, 0.863);
  position: fixed;
  top: 25.65px;
  height: 100vh;
  width: 100vw;
  z-index: 5000;
  transition-property: all;
  transition-duration: 2s;
  align-items: center;
  justify-content: center;
}
.main-menu .menu-body {
  height: 500px;
  width: 500px;
  background-color: rgba(36, 138, 163, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-menu .menu-body .first {
  width: 100%;
  height: 100%;
  display: flex;
}
.main-menu .menu-body .second {
  width: 100%;
  height: 100%;
  display: none;
}
.main-menu .menu-body .circle-for-menu {
  background-color: rgba(0, 0, 0, 0.493);
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  border-color: red;
  box-shadow: 0 0 10px 1px red;
  align-items: center;
}
.main-menu .menu-body .menu-punct-container {
  position: absolute;
}
.main-menu .menu-body .menu-punct-container .menu-punct {
  width: 50%;
  border: 1px dashed rgba(129, 32, 32, 0);
  transform: rotate(0deg);
  transform-origin: 100% 50%;
  position: absolute;
  border-radius: 50%;
}
.main-menu .menu-body .menu-punct-container .menu-punct .menu-square {
  /*background-image: url(gifs/GreenSfera_.gif);*/
  background-color: rgba(172, 217, 228, 0.877);
  border: 1px solid #000000;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  font-size: 130%;
  transition-duration: 0.5s;
  margin-left: -30px;
}
.main-menu .menu-body .menu-punct-container .menu-punct .menu-square img {
  border-radius: 50%;
}
.main-menu .menu-body .menu-punct-container .menu-punct .html-for-second {
  display: none;
}
.main-menu .menu-body .text-ring {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 60%;
  height: 60%;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  border-color: rgba(255, 0, 0, 0);
  color: #f1cece;
  font-size: 250%;
  text-shadow: 0 0 10px #a14f4f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu .right-menu-clear {
  float: left;
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 30%;
  right: 0;
  display: none;
  transition-duration: 1s;
}
.main-menu .right-menu {
  background-color: rgba(0, 0, 0, 0.637);
  height: 100%;
  width: 30%;
  right: 5px;
  position: absolute;
  display: none;
  transition-duration: 1s;
  overflow: auto;
  padding: 0 30px;
  text-align: center;
}
.main-menu .right-menu h2 {
  font-size: 3em;
  color: white;
  word-break: break-all;
}
.main-menu .right-menu h3 {
  font-size: 2.5em;
  color: white;
  word-break: break-all;
}
.main-menu .right-menu h4 {
  font-size: 2.3em;
  color: #ebd9b7;
  word-break: break-all;
}
.main-menu .right-menu p {
  font-size: 2em;
  color: white;
}
.main-menu .right-menu .thems-container {
  width: 100%;
  margin-bottom: 100px;
}
.main-menu .right-menu .thems-container .thems-ul {
  list-style-type: none;
  margin-bottom: 30px;
}
.main-menu .right-menu .thems-container .them-li {
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 150px;
  width: 100%;
  background-color: red;
  box-shadow: 0 0 3px 1px grey, inset 0 0 40px 30px black;
  transition-duration: 0.5s;
  filter: contrast(70%);
}
.main-menu .right-menu .thems-container .them-li:hover {
  box-shadow: 0 0 6px 6px grey, inset 0 0 55px 20px black;
  filter: contrast(100%);
}
.main-menu .right-menu .thems-container .nature7 {
  background-image: url(img/nature7.jpg);
}
.main-menu .right-menu .thems-container .summer1 {
  background-image: url(img/teodor-kuduschiev-summer-62kb.jpg);
}
.main-menu .right-menu .thems-container .summer2 {
  background-image: url(img/ev-beach-22kb.jpg);
}
.main-menu .right-menu .thems-container .winter1 {
  background-image: url(img/dominik-dombrowski-30kb.jpg);
}
.main-menu .right-menu .thems-container .winter2 {
  background-image: url(img/fabrice-villard-winter-14kb.jpg);
}
.main-menu .right-menu .thems-container .winter3 {
  background-image: url(img/ian-keefe-winter-42kb.jpg);
}
.main-menu .right-menu .thems-container .winter4 {
  background-image: url(img/gabriel-alenius-winter-51kb.jpg);
}
.main-menu .right-menu .thems-container .winter5 {
  background-image: url(img/noah-grossenbacher-winter-47kb.jpg);
}
.main-menu .right-menu .thems-container .winter6 {
  background-image: url(img/alex-coffee-48kb.jpg);
}
.menu-link {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-decoration: none;
  align-items: center;
}
.inner-settings {
  display: none;
}
.menu-square:hover {
  box-shadow: 0 0 10px 10px #a7762d;
}
.news {
  position: absolute;
  height: 100%;
  width: 100%;
}
.about-site {
  position: absolute;
  height: 100%;
  width: 100%;
}
.main-page {
  position: absolute;
  height: 100%;
  width: 100%;
}
.games {
  position: absolute;
  height: 100%;
  width: 100%;
}
.home-work {
  position: absolute;
  height: 100%;
  width: 100%;
}
.viewer-window {
  display: none;
  background-color: rgba(0, 0, 0, 0.863);
  position: fixed;
  top: 25.65px;
  height: 100vh;
  width: 100vw;
  z-index: 4000;
  transition-property: all;
  transition-duration: 2s;
  justify-content: center;
  align-items: center;
}
.viewer-window .viewer-close-space {
  height: 100%;
  width: 100%;
  position: absolute;
}
.viewer-window .viewer-content-container {
  z-index: 4001;
  background: radial-gradient(99% 99%, #53635e, #599682);
  height: 70%;
  width: 50%;
  padding: 30px;
  overflow: auto;
}
.viewer-window .viewer-content-container h2 {
  color: #dd8512;
  text-shadow: 0 0 5px black;
  font-size: 3em;
  text-align: center;
}
.viewer-window .viewer-content-container h3 {
  color: #dd8512;
  text-shadow: 0 0 5px black;
  font-size: 2em;
  text-align: center;
}
.viewer-window .viewer-content-container .viewer-content {
  padding: 20px;
  color: white;
  font-size: 2em;
}
@media screen and (max-width: 820px) {
  .viewer-window .viewer-content-container {
    width: 80%;
    padding: 15px;
  }
  .viewer-window .viewer-content-container h2 {
    font-size: 45px;
  }
  .viewer-window .viewer-content-container h3 {
    font-size: 30px;
  }
  .viewer-window .viewer-content-container .viewer-content {
    font-size: 22px;
  }
}
.clear-header {
  height: 25.65px;
}
h1 {
  color: #dd8512;
  text-shadow: 0 0 5px black;
  font-size: 4em;
  text-align: center;
}
.section {
  overflow: hidden;
  background-color: rgba(70, 161, 126, 0.527);
  background-image: url(gifs/clouds.gif);
  background-blend-mode: color-dodge;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 700px;
  padding: 5% 2% 5% 5%;
}
.section .clear-main {
  height: 20px;
}
.section .main {
  float: left;
  width: 75%;
  min-height: 900px;
  min-width: 200px;
  /*background: radial-gradient(50% 50%, rgba(0, 0, 0, 0.3) 0.1%,rgba(34, 59, 197, 0.2) );*/
  padding: 1%;
}
.section .main .cards-container {
  /*background-color: rgba(36, 19, 19, 0.13);*/
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  perspective-origin: 50% 400px;
  perspective: 1000px;
}
.section .main .cards-container .card-cell {
  background-color: rgba(100, 51, 51, 0.021);
  height: 230px;
  padding: 30px;
  perspective-origin: 50% 50%;
  perspective: 1000px;
}
.section .main .cards-container .card-cell .card {
  /*background: linear-gradient(60deg, rgb(243, 236, 236), rgb(167, 167, 24));*/
  height: 100%;
  width: 100%;
  /*border-radius: 50%;*/
  box-shadow: 0 0 100px 1px #4d4d8d;
}
.section .main .cards-container .card-cell .card .card-blur {
  background-image: url(img/card-r-phone2.jpg);
  background-position: center;
  background-size: 110% 110%;
  border-style: double;
  border-width: 3px;
  border-color: khaki;
  overflow: hidden;
  height: 100%;
  width: 100%;
  filter: blur(0.1px) contrast(100%);
  transition-duration: 0.5s;
}
.section .main .cards-container .card-cell .card .card-blur .card-img {
  display: none;
  width: 20%;
  height: 20%;
}
.section .main .cards-container .card-cell .card .card-blur .card-box {
  height: 100%;
  width: 100%;
  display: flex;
}
.section .main .cards-container .card-cell .card .card-blur .card-box .about-card-content {
  height: 100%;
  width: 100%;
  font-size: 110%;
  overflow: auto;
  padding: 5% 10% 5% 10%;
}
.section .main .cards-container .card-cell .card .card-blur .card-box .about-card-content .card-header {
  font-size: 2.5em;
  color: #c5a069;
  text-shadow: 0 0 2px #abbd6a;
}
.section .main .cards-container .card-cell .card .card-blur .card-box .about-card-content .clear-box {
  display: block;
  height: 25px;
}
.section .main .cards-container .card-cell .card .card-blur .card-content {
  font-size: 0em;
}
.section .main .cards-container .card-cell .card .card-blur .card-ref {
  display: flex;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.section .main .cards-container .card-cell .card .card-blur .card-ref .card-img {
  display: none;
  width: 20%;
  height: 20%;
}
.section .main .cards-container .card-cell .card .card-blur .card-ref .about-card-content {
  height: 100%;
  width: 100%;
  font-size: 110%;
  overflow: auto;
  padding: 0% 10%;
}
.section .main .cards-container .card-cell .card .card-blur .card-ref .about-card-content .card-header {
  font-size: 2.5em;
  color: #4879b1;
  text-shadow: 0 0 4px #caa658;
}
.section .main .cards-container .card-cell .card .card-blur:hover {
  box-shadow: 0 0 15px 5px #99a9b6, 0 0 20px 10px #1b4aaf, inset 0 0 10px 5px #a5b4b9;
  perspective-origin: 10% 10%;
  transform: translate3d(0px, 0px, 100px);
}
.section .main p {
  font-size: 1.1em;
  color: grey;
  text-shadow: 0 0 1px black, 1px 1px 1px black,0 0 3px grey;
}
.section .aside {
  position: fixed;
  right: -35px;
  background-image: url(img/Goldframe_.png);
  background-position: center;
  background-size: 100% 100%;
  width: 300px;
  height: 450px;
  padding: 140px 90px 100px 80px;
  font-size: 1.1em;
  transform: perspective(900px) rotateY(-47deg);
  transition-duration: 1s;
}
.section .aside .aside-container {
  height: 100%;
  background-color: rgba(53, 12, 12, 0.6);
  overflow: auto;
}
.section .aside .aside-container .navigation-page-container {
  padding: 10px 0px 10px 50px;
  color: red;
}
.section .aside .aside-container .navigation-page-container .navigation-page-list li {
  color: #8484c5;
}
.section .aside .aside-container .navigation-page-container .navigation-page-list li a {
  font-size: 1.1em;
  color: #acacdb;
}
.section .aside .aside-container .navigation-topic-container {
  padding: 10px 0px 10px 50px;
  color: red;
}
.section .aside .aside-container .navigation-topic-container .navigation-topic-list {
  color: #8484c5;
}
.section .aside .aside-container .navigation-topic-container .navigation-topic-list li {
  color: #8484c5;
}
.section .aside .aside-container .navigation-topic-container .navigation-topic-list li a {
  font-size: 1.1em;
  color: #acacdb;
}
.section .aside:hover {
  transform: perspective(900px) rotateY(-10deg);
}
@media screen and (max-width: 1409px) {
  .section .main {
    width: 90%;
  }
  .section .aside {
    overflow: auto;
    width: 60%;
    height: 450px;
    padding: 140px 201px 100px 187px;
    margin-bottom: 50px;
    position: static;
    float: left;
    font-size: 1.1em;
    transform: perspective(600px) rotateX(15deg);
  }
  .section .aside .aside-container {
    background-color: rgba(95, 68, 29, 0.226);
  }
  .section .aside:hover {
    transform: perspective(600px) rotateX(15deg);
  }
}
@media screen and (max-width: 1060px) {
  .section .card-cell {
    height: 150px !important;
    padding: 15px !important;
  }
  .section .aside {
    width: 70%;
    padding: 140px 165px 100px 163px;
    font-size: 150%;
  }
  .section .aside li,
  .section .aside a {
    color: black !important;
    text-shadow: 0 0 5px grey;
    margin-top: 10px;
  }
}
@media screen and (max-width: 770px) {
  .section .viewer-content-container {
    width: 95% !important;
  }
  .section .card-cell {
    height: 120px !important;
    padding: 13px !important;
  }
  .section .aside {
    width: 65%;
    padding: 140px 150px 100px 140px;
    margin-left: -30px;
    font-size: 150%;
  }
  .section .about-card-content {
    height: 100%;
    width: 100%;
    font-size: 75% !important;
    overflow: auto;
    padding: 5% 10% 5% 10%;
  }
  .section .about-card-content .card-header {
    font-size: 1.7em !important;
    color: #c5a069;
    text-shadow: 0 0 2px #abbd6a;
  }
  .section .about-card-content .clear-box {
    display: block;
    height: 10px !important ;
  }
}
@media screen and (min-width: 520px) {
  .section .card-cell:nth-child(4n+1) {
    transform: matrix3d(1, 0, -0.45, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 65, 1);
  }
  .section .card-cell:nth-child(4n+2) {
    transform: matrix3d(1, 0, -0.15, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, -20, 1);
  }
  .section .card-cell:nth-child(4n+3) {
    transform: matrix3d(1, 0, 0.15, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, -20, 1);
  }
  .section .card-cell:nth-child(4n+4) {
    transform: matrix3d(1, 0, 0.45, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 65, 1);
  }
}
@media screen and (max-width: 520px) {
  .section .cards-container {
    grid-template-columns: repeat(3, 33.33333333%) !important;
  }
  .section .card-cell:nth-child(3n+1) {
    transform: matrix3d(1, 0, -0.25, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 20, 1);
  }
  .section .card-cell:nth-child(3n+2) {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  .section .card-cell:nth-child(3n+3) {
    transform: matrix3d(1, 0, 0.25, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 20, 1);
  }
  .section .aside {
    width: 70%;
    height: 300px;
    padding: 100px 85px 70px 80px;
    margin-left: -10px;
  }
}
@media screen and (max-width: 420px) {
  .section .cards-container {
    grid-template-columns: repeat(2, 50%) !important;
  }
  .section .card-cell:nth-child(2n+1) {
    transform: matrix3d(1, 0, -0.15, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  .section .card-cell:nth-child(2n+2) {
    transform: matrix3d(1, 0, 0.15, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  .section .aside {
    width: 260px;
    height: 300px;
    padding: 95px 80px 70px 70px;
    margin-left: -15px;
  }
}
@media screen and (max-width: 375px) {
  .section .aside {
    width: 230px;
    height: 300px;
    padding: 95px 70px 70px 65px;
  }
}
.footer {
  background-color: black;
  min-height: 300px;
  display: flex;
}
.footer p {
  margin: auto;
  font-size: 1.1em;
  color: white;
}
::-webkit-scrollbar-button {
  background-image: url('');
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background-color: #050d15;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #6dc0c8;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #56999f;
}
::-webkit-resizer {
  background-image: url('');
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
::-webkit-scrollbar {
  width: 4px;
}
