*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(6, 39, 66);
    background-size: cover;
}

@HEADER-HEIGHT: 40px;
@SIDBAR_MENU_HEIGHT: @HEADER-HEIGHT/100*57;

.header{
    position: fixed;
    z-index: 1000;
    background-color: rgba(28, 96, 151, 0.281);
    height: @HEADER-HEIGHT;
    width: 100%;
    .sidebar-menu{
        height: @SIDBAR_MENU_HEIGHT;
        width: 100%;
        background-color: rgb(29, 31, 36);
        display: flex;
        .sidebar-button{
            margin: 2px auto;
            height: @SIDBAR_MENU_HEIGHT+4;
            padding: 3px 4px;
            color: rgb(29, 6, 73,.99);
            text-shadow: 0 0 2px rgb(34, 28, 28);
            border-radius: 20%;
            background: radial-gradient(50% 50%, rgb(201, 182, 182, .99) 0.1%,rgb(34, 58, 197, .99) );
            z-index: 10000;
        }
    }

    .file-path{
        height: 43%;
        color: rgb(224, 220, 220);
        .path-link{
            color: rgb(189, 181, 181);
            text-decoration: none;
        }

    }
}

.main-menu{
    display: none;
    background-color: rgba(0, 0, 0, 0.863);
    position: fixed;
    top: @SIDBAR_MENU_HEIGHT;
    height: 100vh;
    width: 100vw;
    z-index: 5000; 
    transition-property: all;
    transition-duration: 2s;
    justify-content:center; 
    align-items: center;
    .menu-body{
        height: 600px;
        width: 500px;
        background-color: rgba(255, 0, 0, 0);
        display: flex;
        justify-content:center; 
        align-items: center;

        @WIDTH_F_RING: 450px;
        .first-ring{
            background-color: rgba(0, 0, 0, 0.493);
            width: @WIDTH_F_RING+-60px;
            height: @WIDTH_F_RING+-60px;
            border-style: solid;
            border-width: 2px;
            border-radius: 50%;
            border-color: red;
            box-shadow: 0 0 10px 1px red;
            color: rgb(241, 206, 206);
            font-size: 250%;
            text-shadow: 0 0 10px rgb(161, 79, 79);
            display: flex;
            justify-content:center;
            align-items: center;
        }
        

        .menu-punct{
            width: @WIDTH_F_RING;
            border: 1px dashed rgba(0, 0, 0, 0);
            transform: rotate(0deg);
            transform-origin: 50% 50%;
            position: absolute;
            .menu-square{
                /*background-image: url(gifs/GreenSfera_.gif);*/
                background-position: center;
                background-size: 150% 150%;
                background-color: rgba(172, 217, 228, 0.877);
                border: 1px solid rgb(0, 0, 0);
                width: 60px;
                height: 60px;
                border-radius: 50%;
                overflow: hidden;
                font-size: 130%;
                display: flex;
                transition-duration: .5s;
                
                a{
                    display: flex;
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    
                    
                }
            }
            
        }
        @PUNCT_ROTATE: 360deg/5;
        .menu-punct:nth-child(1){
            transform: rotate(@PUNCT_ROTATE*1+18);
            .menu-square{
                transform: rotate(-@PUNCT_ROTATE+-18);
            }
        }
        .menu-punct:nth-child(2){
            transform: rotate(@PUNCT_ROTATE*2+18);
            .menu-square{
                transform: rotate(-@PUNCT_ROTATE*2-18);
            }
        }
        .menu-punct:nth-child(3){
            transform: rotate(@PUNCT_ROTATE*3+18);
            .menu-square{
                transform: rotate(-@PUNCT_ROTATE*3-18);
            }
        }
        .menu-punct:nth-child(4){
            transform: rotate(@PUNCT_ROTATE*4+18);
            .menu-square{
                transform: rotate(-@PUNCT_ROTATE*4-18);
            }
        }
        .menu-punct:nth-child(5){
            transform: rotate(@PUNCT_ROTATE*5+18);
            .menu-square{
                transform: rotate(-@PUNCT_ROTATE*5-18);
            }
        }



    }
    

}
.menu-square:hover{
    box-shadow: 0 0 10px 10px rgb(167, 118, 45);
}
.news{
    position: absolute;
    height: 100%;
    width: 100%;
    
}
.about-site{
    position: absolute;
    height: 100%;
    width: 100%;
}
.main-page{
    position: absolute;
    height: 100%;
    width: 100%;
}
.games{
    position: absolute;
    height: 100%;
    width: 100%;
}
.home-work{
    position: absolute;
    height: 100%;
    width: 100%;
}

.viewer-window{
    display: none;
    background-color: rgba(0, 0, 0, 0.863);
    position: fixed;
    top: @SIDBAR_MENU_HEIGHT;
    height: 100vh;
    width: 100vw;
    z-index: 4000; 
    transition-property: all;
    transition-duration: 2s;
    justify-content:center; 
    align-items: center;
    

    .viewer-close-space{
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .viewer-content-container{
        z-index: 4001;
        background-color: rgb(83, 99, 94);
        height: 700px;
        width: 50%;
        padding: 30px;
        overflow: auto;
        
        .viewer-content{
            padding: 20px;
            color: white;
            font-size: 2em;
        }
    }
}

.clear-header{
    height: @SIDBAR_MENU_HEIGHT;
}

h1{
    color: rgb(221, 133, 18);
    text-shadow: 0 0 5px black;
    font-size: 4em;
    text-align: center;
}

.section{
    overflow: hidden;
    background-color: rgba(70, 161, 126, 0.527);
    background-image: url(gifs/clouds.gif);
    background-blend-mode: color-dodge;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 700px;
    padding: 5% 2% 5% 5%;

    .clear-main{
        height: 20px;
    }
    
    .main{
        float: left;
        width: 75%;
        min-height: 900px;
        min-width: 200px;
        /*background: radial-gradient(50% 50%, rgba(0, 0, 0, 0.3) 0.1%,rgba(34, 59, 197, 0.2) );*/
        padding: 1%;
        
        .cards-container{
            /*background-color: rgba(36, 19, 19, 0.13);*/
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(4, 25%);
            perspective-origin: 50% 400px;
            perspective: 1000px;
            

            .card-cell{
                background-color: rgba(100, 51, 51, 0.021);
                height: 230px;
                padding: 30px;
                perspective-origin: 50% 50%;
                perspective: 1000px;
                .card{
                    /*background: linear-gradient(60deg, rgb(243, 236, 236), rgb(167, 167, 24));*/
                    
                    height: 100%;
                    width: 100%;
                    /*border-radius: 50%;*/
                    box-shadow: 0 0 100px 1px rgb(77, 77, 141);
                    
                    .card-blur{
                        // background-image: url(gifs/BlueSfera_.gif);
                        // background-color: rgb(226, 151, 12);
                        // background: linear-gradient(120deg, rgb(36, 15, 15),rgb(139, 136, 136));
                        background-image: url(img/card-r-phone2.jpg);
                        background-position: center;
                        background-size: 110% 110%;
                        border-style: double;
                        border-width: 3px;
                        border-color: khaki;
                        overflow: hidden;
                        height: 100%;
                        width: 100%;
                        // border-radius: 50%;
                        filter: blur(0.1px)  contrast(100%);
                        transition-duration: .5s;
                        
                        .card-img{
                            display: none;
                            width: 20%;
                            height: 20%;

                        }

                        .card-box{
                            height: 100%;
                            width: 100%;
                            display: flex;

                            .about-card-content{
                                height: 100%;
                                width: 100%;
                                font-size: 110%;
                                overflow: auto;
                                padding: 5% 10% 5% 10%;
                                .card-header{
                                    font-size: 2.5em;
                                    color: rgb(197, 160, 105);
                                    text-shadow: 0 0 2px rgb(171, 189, 106);
                                }
                                .clear-box{
                                    display: block;
                                    height: 25px;
                                }

                            }
    
                            
                        }
                        
                        .card-content{
                            font-size: 0em;
                        }
                        .card-ref{
                            display: flex;
                            height: 100%;
                            width: 100%;
                            text-decoration: none;
                            
    
                            .card-img{
                                display: none;
                                width: 20%;
                                height: 20%;
    
                            }

                            .about-card-content{
                                height: 100%;
                                width: 100%;
                                font-size: 110%;
                                overflow: auto;
                                padding: 0% 10%;
                                .card-header{
                                    font-size: 2.5em;
                                    color: rgb(72, 121, 177);
                                    text-shadow: 0 0 4px rgb(202, 166, 88);
                                }
                            }
    
                        }

                        
                    }
                    .card-blur:hover {
                        box-shadow: 0 0 15px 5px  rgb(153, 169, 182), 0 0 20px 10px  rgb(27, 74, 175), inset  0 0 10px 5px  rgb(165, 180, 185) ;
                        perspective-origin: 10% 10%;
                        transform:  translate3d(0px, 0px, 100px);

                    }
                    
                    
                }

            }
            
        }
            
        


        p{
            font-size: 1.1em;
            color: grey;
            text-shadow: 0 0 1px black, 1px 1px 1px black,0 0 3px grey;
        }

    }

    .aside{
        position: fixed;
        right: -35px;
        background-image: url(img/Goldframe_.png);
        background-position: center;
        background-size: 100% 100%;
        width: 300px;
        height: 450px;
        padding: 140px 90px 100px 80px;
        font-size: 1.1em;
        transform: perspective(900px) rotateY(-47deg);
        transition-duration: 1s;
        
        .aside-container{
            height: 100%;
            background-color: rgba(53, 12, 12, 0.6);
            overflow: auto;
            
            
            .navigation-page-container{
                padding: 10px 0px 10px 50px;
                color: red;
    
                .navigation-page-list{
                    li{
                        color: rgb(132, 132, 197);
                        a{
                            font-size: 1.1em;
                            color: rgb(172, 172, 219);
                        }
                    }
                }
            }
    
            .navigation-topic-container{

                padding: 10px 0px 10px 50px;
                
                color: red;
                .navigation-topic-list{
                    color: rgb(132, 132, 197);
                    li{
                        color: rgb(132, 132, 197);
                        a{
                            font-size: 1.1em;
                            color: rgb(172, 172, 219);
                        }

                    }

                }
            }
        }
        
        
    }

    .aside:hover{
        transform: perspective(900px) rotateY(-10deg);
    }

    @media screen and (max-width:1409px) {
        .main{
            width: 90%;
        }
        .aside{
            overflow: auto;
            width: 60%;
            height: 450px;
            padding: 140px 201px 100px 187px;
            font-size: 1.1em;
            
            margin-bottom: 50px;
            position: static;
            float: left;
            
            
           
            font-size: 1.1em;
            transform: perspective(600px) rotateX(15deg);
            .aside-container{
                background-color: rgba(95, 68, 29, 0.226);
            }

        }

        .aside:hover{
            transform: perspective(600px) rotateX(15deg);
        }
    }

    

    @media screen and(max-width: 1060px) {
        .card-cell{
            height: 150px !important;
            padding: 15px !important;
        }
        .aside{
            width: 70%;
            padding: 140px 165px 100px 163px;
        }
    }

    @media screen and(max-width: 720px) {
        .card-cell{
            height: 120px !important;
            padding: 13px !important;
        }
        .aside{
            width: 50%;
            padding: 140px 80px 100px 75px;
        }
    }

@PROCENT: 100%;

    @media screen and(min-width: 520px){
        .card-cell:nth-child(4n+1){
            transform: matrix3d(1.0, 0.0, -0.45, 0.0,
                                0.0, 1.0, 0.0, 0.0,
                                0.0, 0.0, 1.0, 0.0,
                                0.0, 0.0, 65.0, 1.0);
        }
        .card-cell:nth-child(4n+2){
            transform: matrix3d(1.0, 0.0, -0.15, 0.0,
                                0.0, 1.0, 0.0, 0.0,
                                0.0, 0.0, 1.0, 0.0,
                                0.0, 0.0, -20.0,1.0);
        }
        .card-cell:nth-child(4n+3){
            transform: matrix3d(1.0, 0.0, 0.15, 0.0,
                                0.0, 1.0, 0.0, 0.0,
                                0.0, 0.0, 1.0, 0.0,
                                0.0, 0.0, -20.0,1.0);
        }
        .card-cell:nth-child(4n+4){
            transform: matrix3d(1.0, 0.0, 0.45, 0.0,
                                0.0, 1.0, 0.0, 0.0,
                                0.0, 0.0, 1.0, 0.0,
                                0.0, 0.0, 65.0,1.0);
        }
    }
    @media screen and(max-width: 520px) {
        .cards-container{
            grid-template-columns: repeat(3, @PROCENT/3) !important;
        }
        .card-cell:nth-child(3n+1){
            transform: matrix3d(1.0, 0.0, -0.25, 0.0,
                                0.0, 1.0, 0.0, 0.0,
                                0.0, 0.0, 1.0, 0.0,
                                0.0, 0.0, 20.0,1.0);
        }
        .card-cell:nth-child(3n+2){
            transform: matrix3d(1.0, 0.0, 0.0, 0.0,
                                0.0, 1.0, 0.0, 0.0,
                                0.0, 0.0, 1.0, 0.0,
                                0.0, 0.0, 0.0,1.0);
        }
        .card-cell:nth-child(3n+3){
            transform: matrix3d(1.0, 0.0, 0.25, 0.0,
                                0.0, 1.0, 0.0, 0.0,
                                0.0, 0.0, 1.0, 0.0,
                                0.0, 0.0, 20.0,1.0);
        }
        .aside{
            width: 50%;
            height: 300px;
            padding: 100px 70px 70px 65px;
        }
    }

    @media screen and(max-width: 420px) {
        .cards-container{
            grid-template-columns: repeat(2, @PROCENT/2) !important;
        }
        .card-cell:nth-child(2n+1){
            transform: matrix3d(1.0, 0.0, -0.15, 0.0,
                                0.0, 1.0, 0.0, 0.0,
                                0.0, 0.0, 1.0, 0.0,
                                0.0, 0.0, 0.0,1.0);
        }
        .card-cell:nth-child(2n+2){
            transform: matrix3d(1.0, 0.0, 0.15, 0.0,
                                0.0, 1.0, 0.0, 0.0,
                                0.0, 0.0, 1.0, 0.0,
                                0.0, 0.0, 0.0,1.0);
        }
    }
}

.footer{
    background-color: black;
    min-height: 300px;
    display: flex;
    p{
        margin: auto;
        font-size: 1.1em;
        color: white;
    }
}


::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
}
    
::-webkit-scrollbar-track {
    background-color:rgb(5, 13, 21)
}
    
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#6dc0c8;
}
    
::-webkit-scrollbar-thumb:hover{
    background-color:#56999f;
}
    
::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px;
}
    
::-webkit-scrollbar{
    width: 4px;
}